<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="puzzle, project" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" type="text/png" href="/static/images/favicon.png" />
    <title>Wordle Lookalike Project</title>
  </head>
  <body>
    <div id="gameGridContainer">
      <table id="enteredWords">
        <%enteredWords.forEach(function(word, index){ %>
        <tr id="">
          <%for(let i in word){%>
          <td class="<%=wordClasses[index][i] %>"><%=word[i] %></td>
          <%}%>
        </tr>
        <%})%>
      </table>
      <table id="gameGrid">
        <% for (let i = 0; i < gridSize; i++) { %>
        <tr id="gridRow<%= i %>">
          <% for (let j = 0; j < gridSize; j++) { %>
          <td id="tile<%= i %><%= j %>"></td>
          <% } %>
        </tr>
        <% } %>
      </table>
    </div>
    <form action="/" method="POST">
      <input id="inputedWord" type="text" name="inputedWord" />
      <button type="submit">Check</button>
    </form>
    <div id="error"><%=error %></div>
    <div id="message"><%=message %></div>
    <!-- <button onclick="generateGrid(5)">Start Game</button> -->
    <script src="/index.js"></script>
  </body>
</html>
